::-webkit-scrollbar {
  width: 0;
}

* {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: montserrat;
  background: #fff;
  scroll-behavior: smooth;
}

body .h2 {
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px 80px;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
}

body nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: #f1f1f1;
  z-index: 1;
}

body nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin: 10px 50px;
}

body nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

body nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  color: #000;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: .6s;
  transition: .6s;
}

body nav ul li a:hover {
  font-weight: black;
}

body .hero-sec {
  position: absolute;
  height: 100vh;
  width: 50%;
  top: 0;
  right: 0;
}

body .hero-sec .img {
  position: absolute;
  top: 30%;
  right: 50%;
  height: 40vh;
  width: 400px;
  z-index: 0;
  background: red;
  opacity: .4;
  background-size: cover;
}

body .hero-sec .img1 {
  position: absolute;
  top: 30%;
  right: 20%;
  height: 40vh;
  width: 400px;
  z-index: 0;
  background: #2ee4a7;
  opacity: .4;
  background-size: cover;
}

body .hero-sec .img2 {
  position: absolute;
  top: 20%;
  right: 35%;
  height: 60vh;
  width: 400px;
  z-index: 0;
  background: url(../front.jpg);
  opacity: 1;
  background-size: cover;
}

body article {
  position: absolute;
  top: 20%;
  left: 5%;
  padding: 10px 20px;
  border-radius: 40px;
}

body article .button {
  position: absolute;
  margin: 20px 0 0 0;
  padding: 15px 40px;
  background: #c7c7c7;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

body article h3 {
  color: #000;
  font-size: 3em;
  font-weight: bolder;
}

body article p {
  color: #000;
  font-size: 18px;
  width: 500px;
  font-weight: normal;
}

body .sec {
  position: absolute;
  top: 100%;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #e2e2e2;
}

body .sec .card {
  position: relative;
  height: 60vh;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5vh;
  font-weight: bold;
  background: #fff;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

body .sec .card:hover {
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

body .sec .card:nth-child(1) {
  color: #ec8177;
}

body .sec .card:nth-child(3) {
  color: #84e6b7;
}

body .scroll {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 5vh;
  z-index: -1;
}

body .scroll b {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

body .contact {
  position: absolute;
  top: 200%;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .contact h1 {
  font-size: 5vh;
  font-weight: bold;
}

body .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

body .contact form input {
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: montserrat;
  cursor: pointer;
  border: 2px solid #ddd;
  border-radius: 5px;
}

body .contact form input[type="submit"] {
  font-weight: bold;
  color: #000;
  background: #ddd;
}

body .vault {
  position: absolute;
  height: 100vh;
  width: 100%;
  margin-top: 20vh;
  display: none;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .6s;
  transition: .6s;
}

body .vault.active {
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .valut h1 {
  font-size: 5vh;
  font-weight: bold;
}

body .vault form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
}

body .vault form input {
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: montserrat;
  cursor: pointer;
  border: 2px solid #1b1b1b;
  border-radius: 5px;
}

body .vault form input[type="submit"] {
  font-weight: bold;
  color: #fff;
  background: #3A43BA;
  border-color: #3A43BA;
}

body .plus {
  position: fixed;
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f1f1f1;
}

body .plus .fa-plus {
  font-size: 40px;
  padding: 20px 30px 0px 30px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: .6s;
  transition: .6s;
  z-index: 2;
}

body .plus .fa.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  padding: 20px 25px 0px 30px;
}

body .plus .bg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  height: 50px;
  width: 50px;
  z-index: 2;
  border-radius: 50%;
  background: #3A43BA;
}

body .passList {
  position: absolute;
  top: 20%;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: -1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .passList .item {
  margin: 10px 0;
  height: 20vh;
  width: 1000px;
  background: #ddd;
  border-radius: 10px;
  padding: 10px 20px;
}

body .passList .item .fa {
  position: relative;
  font-size: 30px;
  cursor: pointer;
  color: #3A43BA;
}

@media (max-width: 800px) {
  .passList .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-sec {
    opacity: 0;
  }
  nav ul li:first-child {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */